<template>
    <div>
        <p>
            LOGIN TO BUY
        </p>
        <form method="POST" action="/auth/login">
            <input type="hidden" name="_token" id="csrf-token" v-model="crsfToken" >
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email"  placeholder="Enter Email Address" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password" suggested="current-password" required>
                <div class="col-md-12 forgot-link">
                    <router-link to="/forgot-password" tag="a">Forgot Password?</router-link>
                </div>
            </div>
            <button type="submit" class="btn btn-dark-blue">Login</button> <span class="mlr-15">OR</span>
            <router-link to="/register" tag="a">Register</router-link>
        </form>
    </div>
</template>


<style scoped>
    .form-group {
        margin-bottom: 0;
    }
   
</style>
<script>
import store from '../.././store'
export default {
        data: function () {
                return {
                    crsfToken: null
                }
            },
            methods: {
                checkPage(){
                    this.$parent.pagePath = window.location.pathname;
                },
                getMeta(metaName) {
                    const metas = document.getElementsByTagName('meta');
                    for (let i = 0; i < metas.length; i++) {
                        if (metas[i].getAttribute('name') === metaName) {
                        return metas[i].getAttribute('content');
                        }
                    }
                }
            },
            created(){
                this.$Progress.start()
                this.checkPage()
                this.crsfToken = this.getMeta('csrf-token')
                document.title = this.$route.name + " | Histary - A secure marketplace to buy history tokens"
                this.$Progress.finish()
            },
            beforeRouteEnter (to, from, next) {
               next(vm => {
                    // access to component instance via `vm`
                     vm.$store.dispatch('getAuthentication').then(done => {
                            if(vm.$store.state.auth.authenticated == true){
                                next("/dashboard");
                            }else{
                                next();
                            }
                        })
                })
            }
    }
</script>
