<template>
    <div>
        <p>
            REGISTER TO BUY
        </p>
        <form method="POST" action="/auth/register">
            <input type="hidden" name="_token" id="csrf-token" v-model="crsfToken" >
            <div class="form-group">
                <label for="first_name">Full Name:</label>
            </div>
            <div class="form-group p-0 m-0">
                    <div class="row p-0 m-0">
                    <div class="col-md-6 p-0 m-0 pr-5">
                        <input type="text" class="form-control" id="first_name" name="first_name"  placeholder="First Name" required>
                    </div>
                    <div class="col-md-6 p-0 m-0 pl-6">
                        <input type="text" class="form-control" id="last_name" name="last_name"  placeholder="Last Name" required>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email"  placeholder="Enter Email Address" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password" suggested="current-password" required>
            </div>
            <div class="col-md-12 mt-62 plr-0">
                <button type="submit" class="btn btn-dark-blue ">Register</button> <span class="mlr-15">OR</span>
                <router-link to="/login" tag="a">Login</router-link>
            </div>
        </form>
    </div>
</template>

<style scoped>
    .form-group {
        margin-bottom: 0;
    }
   @media (max-width:768px) {
        .pl-6{
            padding:0 !important;
            margin-top: 28px !important;
            margin-bottom: 9px !important;
        }
   }
   
</style>


<script>
export default {
        data: function () {
                return {
                    crsfToken:'',
                    origin:location.origin
                }
            },
            methods: {
                checkPage(){
                    this.$parent.pagePath = window.location.pathname;
                },
                getMeta(metaName) {
                    const metas = document.getElementsByTagName('meta');
                    for (let i = 0; i < metas.length; i++) {
                        if (metas[i].getAttribute('name') === metaName) {
                        return metas[i].getAttribute('content');
                        }
                    }
                }
            },
            created(){
                this.$Progress.start()
                this.checkPage()
                this.crsfToken = this.getMeta('csrf-token')
                document.title = this.$route.name + " | Histary - A secure marketplace to buy history tokens"
                this.$Progress.finish()
            }
    }
</script>
