<template>
     <div class="row center-cards">
        <div class="col-md-12 p-0 pr-8">
            <div class="card" >
                <div class="card-body" align="left">
                    <i class="fas fa-arrow-left" @click="$router.go(-1)"></i>
                    <h5 class="card-title">BUY HISTARY TOKEN</h5>
                    <div class="col-md-12 plr-0 token-form">
                        <div class="form-group mb-8">
                            <label for="amount">Amount of tokens:</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="send_amount" placeholder="0" v-model="amount_hist" @keyup="convert()">
                                <div class="input-group-append">
                                    <span class="input-group-text" id="amount">
                                        <select>
                                            <option value="3">HIST</option>
                                            <option value="2">USD</option>
                                        </select>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-tiny" v-if="amount_usd == null">~ $4,500.00</button>
                        <button class="btn btn-tiny" v-if="amount_usd != null">~ ${{ numberWithCommas(amount_usd) }}</button>
                        <p class="info1">Estimated fee: ~ 1 BTC / 10 USD</p>
                        <p class="info2">Total: ~ 1 BTC / 10 USD</p>
                        <div class="form-group pay-with">
                            <label for="amount">Pay with:</label>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="pay_with" v-model="paymentOption" id="btc" value="btc">
                                <label class="form-check-label" for="btc"><span class='btc'><img :src="'/svg/bitcoin-brands.svg'" class="btc-icon"/> </span> Bitcoin</label>
                            </div>
                             <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="pay_with" v-model="paymentOption" id="cash" value="cash">
                                <label class="form-check-label" for="cash"><span class="dollar"><i class="fas fa-dollar-sign"></i></span> Cash</label>
                            </div>
                        </div>
                        <p class="payment-error mt-10" v-html="error"></p>
                        <button class='btn btn-white'>Cancel</button>
                        <button class='btn btn-green' v-if="paymentOption == 'btc'" data-toggle="modal" data-target="#btcModal" @click="checkPayment()">Buy</button>
                        <button class='btn btn-green' v-if="paymentOption == 'cash'" data-toggle="modal" data-target="#cashModal" @click="checkPayment()">Buy</button>
                        <button class='btn btn-green' v-if="paymentOption == null" @click="checkPayment()">Buy</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade btc-modal" id="btcModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <i class="fas fa-lock"></i>
                        <div class="row" style="width: 100%; margin: auto;">
                            <div class="col-md-12 mb-42" align='center'>
                                <h5 class="modal-title" id="exampleModalLabel">M</h5>
                            </div>
                            <div class="col-md-12 m-0 p-0">
                                <span class="btc-modal_span1">Histary token</span>
                                <span class="btc-modal_span2">20 HIT</span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body" align='center' style="padding:0;">
                        <i class="fas fa-qrcode btc-bar-code"></i>
                        <div class="input-group mb-19">
                            <input type="text" value="3KncpYCtT1YULdSV9TRPtSn3xQghAUd7Do" id="btcCode" class="form-control input-sm" placeholder="Input Small" readonly>
                            <div class="input-group-append" @click="copyToClipboard('btcCode')">
                                <span class="input-group-text" id="basic-addon2"><i class="far fa-copy"></i></span>
                            </div>
                        </div>
                        <p>
                            Send exactly 0.034807 BTC to the address above OR scan barcode.
                        </p>
                       <div class="btc-modal_footer1">
                           WAITING FOR PAYMENT — 15:00 MINS
                       </div>
                       <div class="btc-modal_footer2">
                          Powered by <a href="http://swys.io">swys.io</a>
                       </div>
                    </div>
                </div>
            </div>
        </div>

         <!-- Modal -->
        <div class="modal fade btc-modal" id="cashModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <i class="fas fa-lock"></i>
                        <div class="row" style="width: 100%; margin: auto;">
                            <div class="col-md-12 mb-42" align='center'>
                                <h5 class="modal-title" id="exampleModalLabel">M</h5>
                            </div>
                            <div class="col-md-12 m-0 p-0">
                                <span class="btc-modal_span1">Histary token</span>
                                <span class="btc-modal_span2">20 USD</span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body ">
                       <div class="row">
                           <div class="col-md-12">
                                <div class="form-group">
                                    <label for="card-num">Card Number:</label>
                                    <input type="text" class="form-control" id="card-num" name="card-num"  placeholder="Enter Card Number" required>
                                </div>
                           </div>
                           <div class="col-md-6">
                                <div class="form-group">
                                    <label for="card-date">Date:</label>
                                    <input type="text" class="form-control" id="card-date" name="card-date"  placeholder="06/11" required>
                                </div>
                           </div>
                           <div class="col-md-6">
                                <div class="form-group">
                                    <label for="card-cvv">CVV:</label>
                                    <input type="text" class="form-control" id="card-cvv" name="card-cvv"  placeholder="419" required>
                                </div>
                           </div>
                           <div class="col-md-12">
                                <div class="form-group">
                                    <label for="card-pin">Pin:</label>
                                    <input type="password" class="form-control" id="card-pin" name="card-pin"  placeholder="****" required>
                                </div>
                           </div>
                       </div>
                       <div class="btc-modal_footer1 mt-25" data-dismiss="modal" aria-label="Close">
                           PAY
                       </div>
                       <div class="btc-modal_footer2">
                          Powered by <a href="http://swys.io">swys.io</a>
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<style scoped>
     .card{
        box-shadow: rgba(63, 63, 68, 0.15) 0 1px 5px;
        border:none;
        padding:0;
    }
    .card-body{
        max-width: 361px;
        margin: auto
    }
    .card-body>i{
        position: absolute;
        left: 3%;
        font-size: 25px;
    }
    .card-body>i:hover{
      cursor: pointer;
    }
    .card-title{
        color:#555555;
        font-size:13px;
        font-family: 'Sofia Pro, Semi Bold';
        opacity: .8;
    }
    .token-form{
        margin-top:50px;
    }
    .token-form label{
        font-size:15px;
        margin-bottom:9px;
    }
    .token-form input.form-control{
        background: #F6F6F6;
        border-radius: 3px;
        border:none;
        color:#000000;
        font-size: 15px;
        padding:15px 12px;
        margin:0;
    }
        
    .token-form input.form-control::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color:#000000;
        opacity: .2
    }

    .token-form input.form-control::-moz-placeholder {
        /* Firefox 19+ */
       color:#000000;
        opacity: .2
    }

    .token-form input.form-control:-ms-input-placeholder {
        /* IE 10+ */
        color:#000000;
        opacity: .2
    }

    .token-form input.form-control:-moz-placeholder {
        /* Firefox 18- */
        color:#000000;
        opacity: .2
    }

    .btn-tiny{
        padding:7px 9px 5px 11px;
        color:#B9B9B9;
        font-size: 12px;
        font-family: 'Sofia Pro, Semi Bold';
        border:solid #E6EAEE 1px;
        border-radius:19px;
        margin-bottom: 40px;
    }

    .info1{
        color:#B9B9B9;
        font-size:12px;
        margin:0;
        margin-bottom: 10px
     }

     .info2{
        color:#030303;
        font-size:14px;
        margin:0;
     }

    .input-group-text {
        background-color: #F6F6F6;
        border: none;
        border-radius: .3px;
    }
    .input-group-text>select {
        box-shadow: rgba(0, 0, 0, 0.16) 0 3px 10px;
        border-radius: 3.64px;
        border: none;
        color: #3E3E3E;
        font-size: 13px;
        font-family: 'Sofia Pro, Bold';
        padding: 4px 11px 3px 5px;
    }
    .pay-with{
        margin-bottom: 42px;
        margin-top:59px;
    }

    .pay-with label{
       display: block;
    }

    .form-check-inline{
        margin:0;
        margin-top:20px;
    }
    .form-check-label {
        margin-bottom: 0 !important;
        margin-right: 24px;
    }
    .btc-icon{
        height: 29px;
    }
    .dollar{
        background: #49C177;
        color: #fff;
        font-size: 13px;
        padding: 7px 11px;
        border-radius: 50%;
        padding-bottom: 6px;
    }
    .btc-modal .modal-dialog{
            max-width:386px;
    }
    /* .btc-modal_span1{
          
    } */
    .btc-modal .fa-lock{
         position: absolute;
         color: #BFBFBF;
         font-size: 12px;
    }
    .btc-modal_span2{
           float: right;
    }
    .btc-bar-code{
        font-size: 164px;
        margin-top: 4px;
        margin-bottom: 16px;
        width: 164px;
    }

    .btc-modal .modal-header {
        padding: 16px;
        border-bottom: none;
         font-family: 'Sofia Pro, Semi Bold';
         font-size: 15px;
    }

    .btc-modal .modal-body{
            padding: 0 !important;
    }

    .btc-modal p{
        width: 84%;
        margin-top:0;
        margin-bottom: 19px;
    }

    .btc-modal_footer1{
        background: #1E2E72;
        color: #fff;
        padding: 20px;
        font-size: 11px;
        text-align: center;
         font-family: 'Sofia Pro, Semi Bold';
    }

    .btc-modal_footer2{
        background: #fff;
        color: #1E2E72;
        padding: 17px;
        font-size: 11px;
        text-align: center;
         font-family: 'Sofia Pro, Semi Bold';
    }

    .btc-modal_footer2>a{
      color: inherit;
      text-decoration: none;
    }

    .btc-modal input{
        background: #F8F9FC;
        border: none;
        border-radius: 0;
        font-size: 15px;
        padding: 16px 36px;
        padding-right: 0;
    }

    .btc-modal .input-group-text{
        background: #F8F9FC;
        border: none;
        border-radius: 0;
        font-size: 15px;
        /* padding: 0; */
        padding-right: 38px;
        color: #2843B4;
    }
    .btc-modal .input-group-text:hover{
      cursor: pointer
    }

    .payment-error{
        color:red;
    }

    .btc-modal_footer1:hover{
        cursor: pointer;
    }
    .form-group {
        margin-bottom: 0;
        padding:15px;
    }
    @media (max-width:492px) {
        .btc-modal .modal-dialog {
            max-width: inherit;
        }
        .card-body>i[data-v-060556d9] {
            position: relative;
            left: 0%;
            font-size: 25px;
            /* display: block; */
            margin-left: 0;
            margin-bottom: 15px;
        }
    }
</style>



<script>

export default {
     data: function () {
                return {
                      paymentOption:null,
                      error:null,
                      amount_hist:null,
                      amount_usd:null
                }
            },
            components:{
            
            },
            methods: {
                scrollToTop() {
                    window.scrollTo(0,0);
                },
                copyToClipboard(id) {
                    var copyText = document.getElementById(id);
                    copyText.select();
                    document.execCommand("copy");
                },
                checkPayment(){
                    if(this.paymentOption == null){
                         this.error = 'Please select a payment option above'
                    }else{
                        this.error = null
                    }
                },
                convert(){
                    if(this.amount_hist != null || this.amount_hist != ''){
                        this.amount_usd = this.amount_hist * 4500
                    }else{
                        this.amount_usd =  4500
                    }
                },
                numberWithCommas(x) {
                    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                }
            },
            created() {
                this.$Progress.start()
                this.$parent.page = 'Buy Token'
                this.scrollToTop()
                document.title = this.$route.name + " | Histary - A secure marketplace to buy history tokens"
                window.scrollTo(0, 0);
                this.$Progress.finish()
            }
}
</script>
