<template>
    <div class='container-fluid' v-if="authenticated">
        <router-view name="navbar-top"></router-view>
        <div class="row m-0 p-0">
            <div class="col-md-12 histary-page">
                <transition name="slide" mode="out-in">
                    <router-view>

                    </router-view>
                </transition>
            </div>
        </div>
     </div>
</template>

<style>
    .slide-enter{
            opacity: 0;
    }
    .slide-enter-active{
        animation: slide-in .25s ease-out forwards;
        transition: opacity .25s;
    }
    .slide-leave{

    }
    .slide-leave-active{
        animation: slide-out .25s ease-out forwards;
         transition: opacity .25s;
          opacity: 0;
    }

     .fade-enter{
            opacity: 0;
    }
    .fadee-enter-active{
        /* animation: slide-in .5s ease-out forwards; */
        transition: opacity .25s;
    }
    .fade-leave{

    }
    .fade-leave-active{
        /* animation: slide-out .5s ease-out forwards; */
         transition: opacity .5s;
          opacity: 0;
    }

    @keyframes slide-in {
        from{
            transform: translateX(-20px);
        }
        to{
              transform: translateX(0);
        }
    }
      @keyframes slide-out {
        from{
            transform: translateX(0);
        }
        to{
              transform: translateX(20px);
        }
    }


</style>


<script>

import store from '../../store'
import navbar from '../widgets/Navbar'

    export default {
        data: function () {
                return {
                toggle:false,
                whiteMenu:false,
                page:'home',
                crsfToken:'',
                authenticated:false,
                coins:[]
                }
            },
            components:{
                appNavbar: navbar,
            },
            computed:{
                 user(){
                    return this.$store.getters.user;
                },
                currentRouteName() {
                    return this.$route.name;
                } 
            },
            methods: {
                checkScreen(){
                     if(screen.width > 768){
                       this.whiteMenu = !this.whiteMenu
                   }
                },
                getMeta(metaName) {
                        const metas = document.getElementsByTagName('meta');
                        for (let i = 0; i < metas.length; i++) {
                            if (metas[i].getAttribute('name') === metaName) {
                            return metas[i].getAttribute('content');
                            }
                    }
                },
                getUser(){
                    this.$store.dispatch('getUser')
                },
                smallScreen(){
                    if(screen.width > 768){
                      return false;
                   }else{
                       return true
                   }
                }
            },
            created(){
                this.$Progress.start()
                this.checkScreen()
                this.getUser()
                this.crsfToken = this.getMeta('csrf-token')
                this.$parent.dashboard = true;
                this.$store.dispatch('getAuthentication').then(done => {
                    this.authenticated = this.$store.state.auth.authenticated
                    this.$Progress.finish()
                })
            },
            mounted() {
                // window.addEventListener('scroll', this.updateScroll);
            },
            destroy() {
                // window.removeEventListener('scroll', this.updateScroll)
            },
            beforeRouteEnter (to, from, next) {
                next(vm => {
                    // access to component instance via `vm`
                    vm.$store.dispatch('getAuthentication').then(done => {
                    vm.authenticated = vm.$store.state.auth.authenticated;
                        if(vm.$store.state.auth.authenticated == true){
                            next();
                        }else{
                            next("/login");
                        }
                    })

                })
            }
    }
</script>

