<template>
    <div class="row center-cards">
        <div class="col-md-6 p-0 pr-8">
            <app-balance></app-balance>
        </div>
        <div class="col-md-6 p-0 pl-8">
            <app-get></app-get>
        </div>
        <div class="col-md-12 p-0">
            <app-history></app-history>
        </div>  
    </div>
    
</template>
<style>
    .card{
        margin-bottom: 42px;
    }
</style>

<script>
import Get from '../widgets/./Get'
import Balance from '../widgets/./Balance'
import History from '../widgets/./History'

export default {
     data: function () {
                return {
                      viewAll:true
                }
            },
            components:{
              appBalance: Balance,
              appGet: Get,
              appHistory: History,
            },
            methods: {
                 scrollToTop() {
                        window.scrollTo(0,0);
                }
            },
            created() {
                this.$Progress.start()
                this.$parent.page = 'home'
                this.scrollToTop()
                document.title = this.$route.name + " | Histary - A secure marketplace to buy history tokens"
                window.scrollTo(0, 0);
                this.$Progress.finish()
            }
}
</script>
