<template>
    <div class="card balance">
        <div class="card-body">
            <p>TOKEN BALANCE</p>
            <p>0.56099</p>
            <button class="btn btn-white-transparent">~ $4,500.00</button>
        </div>
    </div>
</template>

<style scoped>
    .card{
        background: #0062B4;
        color:#fff;
        border:none;
        padding:0;
        min-height: 188px;
        max-height: 190px;
    }
    .card-body{
        padding: 33px 90px;
    }
    .balance p:nth-child(1){
        opacity: .8;
        letter-spacing: 3px;
        font-family: 'Sofia Pro, Semi Bold';
        margin:0 !important;
        font-size: 13px;
    }
    .balance p:nth-child(2){
        font-family: 'Sofia Pro, Semi Bold';
        margin-top:17px;
        margin-bottom: 10px;
        font-size: 35px;
    }
    button{
        font-family: 'Sofia Pro, Bold';
        font-size: 12px;
        padding: 7px 9px 5px 10px;
        border-radius: 19px;
    }
</style>
