<template>
    <div class="card get">
        <div class="card-body">
            <p>GET HISTARY TOKEN</p>
            <p>1 HAR = 0.5 USD</p>
            <p>1 USD = 0.00043 BTC</p>
            <router-link to="/dashboard/buy-token" tag='button' class="btn btn-dark-blue">Buy token now</router-link>
        </div>
    </div>
</template>


<style scoped>
    .card{
        box-shadow: rgba(63, 63, 68, 0.15) 0 1px 5px;
        border:none;
        padding:0;
        min-height: 188px;
        max-height: 190px;
    }
    .card-body{
        padding: 33px 23px;
    }
    .get p:nth-child(1){
        opacity: .8;
        color:#555555;
        letter-spacing: 3px;
        font-family: 'Sofia Pro, Semi Bold';
        margin:0;

        font-size: 13px;
    }
    .get p:nth-child(2){
        color:#000000;
        font-family: 'Sofia Pro, Semi Bold';
        margin:0;
        margin-bottom: 6px;
        font-size: 22px;
    }
    .get p:nth-child(3){
        opacity: .4;
        color:#555555;
        font-family: 'Sofia Pro, Semi Bold';
        margin:0;
        margin-bottom: 16px;
        font-size: 13px;
    }
    button{
        font-family: 'Sofia Pro, Medium';
        font-size: 14px;
        padding: 8px 16px;
        border-radius: 3px;
        border:none
    }
</style>