<template>
    <div class="card" >
        <div class="card-body">
            <h5 class="card-title">TOKEN HISTORY</h5>
            <table class="table">
                <thead class="thead-light">
                    <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Time</th>
                    <th scope="col">Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>2019-01-22</td>
                        <td>10:24:48</td>
                        <td>0.25 HAR</td>
                    </tr>
                    <tr>
                        <td>2019-01-22</td>
                        <td>10:24:48</td>
                        <td>0.25 HAR</td>
                    </tr>
                    <tr>
                        <td>2019-01-22</td>
                        <td>10:24:48</td>
                        <td>0.25 HAR</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<style scoped>
   .card{
        box-shadow: rgba(63, 63, 68, 0.15) 0 1px 5px;
        border:none;
        padding:0;
    }
    .card-body{
        padding:0;
    }
    .card-title{
        color:#555555;
        font-size:13px;
        font-family: 'Sofia Pro, Semi Bold';
        opacity: .8;
        margin-left:20px;
        margin-top:24px;
        margin-bottom: 18px;
    }

    .table .thead-light th {
        color: #000000;
        background-color: #F4F4F4;
        border-color: none;
        border: none;
        font-size: 14px;
        padding: 20px 15px;
    }

    .table td, .table th {
        padding: 29px 20px 5px 20px;
        vertical-align: middle;
        border-top: 1px solid #dee2e6;
        border: none;
        border-bottom: solid #F4F6F8 1px;
        color: #747474;
        font-size: 15px;
    }

    .table{
      border: none;
    }
</style>
