<template>
    <div class="row bg-dark-blue m-0 p-0">
        <div class="col-md-12 navbar navbar-fixed-top fixed-top histary-navbar">
            <div align="left " class="histary-navbar_left">
                <h3>HISTARY</h3>
            </div>
            <div align="right" class="histary-navbar_right">
                <span @click="toggleDD1()" v-if='user != null'>{{capFirstLetter(user.last_name)}} {{getInitials(user.first_name)}}.</span>
                <img :src="'/images/Avatar_empty_x1.png'" @click="toggleDD1()"/>
                <i class="fas fa-ellipsis-v" @click="toggleDD1()"></i>
                <div class="dropdown-content" v-if="this.dropDown1">
                    <router-link to="/dashboard/settings" tag="a" class="dropdown-item">Profile</router-link>
                    <a class="dropdown-item" href="javascript:void(0)" @click="logout">Logout
                        <form id="logout-form" action="/auth/logout" method="POST" style="display: none;">
                            <input type="hidden" name="_token" id="csrf-token" v-model="this.$parent.crsfToken" />
                        </form>
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>


<script>
export default {
     data: function () {
                return {
                    dropDown1:false,
                    screenWidth:screen.width
                }
            },
            computed:{
                user(){
                    if(this.$parent.user != null){
                        return this.$parent.user
                    }else{
                        return null
                    }
                }
            },
            methods:{
                closeNav(){
                    this.$parent.toggle = !this.$parent.toggle;
                },
                toggleDD1(){
                    this.dropDown1 = ! this.dropDown1
                },
                capFirstLetter(string) {
                    return string.charAt(0).toUpperCase() + string.slice(1);
                },
                getInitials(x){
                    return x.charAt(0).toUpperCase()
                },
                logout(){
                    event.preventDefault();
                    document.getElementById('logout-form').submit();
                }
            },
            created() {

            }
}
</script>
