<template>
    <div class="row bg-dark-blue nav-row">
        <div class="col-md-12 nav-div" align="center">
           <h3>Buy History Tokens</h3> 
           <p>About Histary Token and it’s application …</p>
           <button class="btn btn-white-transparent" @click="buy(focus)">Buy</button>
        </div>
    </div>
</template>


<script>
import store from '../.././store'
export default {

        data: function () {
                return {
                     show: false
                }
            },
            components:{

            },
            computed:{
                phone(){
                    if(screen.width > 768){
                       return false
                    }else{
                        return true
                    }
                },
                pagePath:{
                    // getter
                    get: function () {
                        return this.$route.name
                    },
                    // setter
                    set: function (newValue) {
                        return this.$route.name
                    }
                },
                focus:{
                    // getter
                    get: function () {
                       if(this.pagePath == 'Login'){
                           return 'email'
                       }

                       if(this.pagePath == 'Register'){
                           return 'first_name'
                       }
                    },
                    // setter
                    set: function (newValue) {
                        if(this.pagePath == 'Login'){
                           return 'email'
                       }

                       if(this.pagePath == 'Register'){
                           return 'first_name'
                       }
                    }
                }
            },
            methods: {
                checkPage(){
                    this.pagePath = window.location.pathname;
                    // console.log(this.pagePath);
                },
                toggleNavbar() {
                    this.show = !this.show;
                },
                buy(id){
                    document.getElementById(id).focus();
                    document.getElementById(id).scrollIntoView({ behavior: 'smooth', block: 'center' });
                }
            },
            created(){
                this.checkPage()
            },
            mounted() {
                // window.addEventListener('scroll', this.updateScroll);
            },
            destroy() {
                // window.removeEventListener('scroll', this.updateScroll)
            }
    }
</script>
