/* Navbar Styles */

.nav-row,
.auth-row {
    min-height: 100vh;
}

.nav-div {
    margin-top: 200px;
    color: #ffffff;
}

.nav-div h3 {
    margin-bottom: 115px;
}

.nav-div p {
    margin-bottom: 100px;
}


/* Login page */

.auth-div {
    color: #030303;
    min-width: 445px;
    max-width: 445px;
    margin: auto;
    margin-top: 220px;
}

.auth-div p {
    font-family: 'Sofia Pro, Semi Bold';
    font-size: 13px;
    color: #555555;
    letter-spacing: 3px;
    margin-bottom: 14px;
}

.auth-div label {
    margin-top: 28px;
    margin-bottom: 9px;
}

.auth-div input.form-control {
    background: #F7F8F9;
    padding: 20px;
    padding-bottom: 16px;
    font-size: 13px;
    margin: 0;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    border: none;
}

.auth-div input.form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #030303;
    opacity: .25
}

.auth-div input.form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: #030303;
    opacity: .25
}

.auth-div input.form-control:-ms-input-placeholder {
    /* IE 10+ */
    color: #030303;
    opacity: .25
}

.auth-div input.form-control:-moz-placeholder {
    /* Firefox 18- */
    color: #030303;
    opacity: .25
}

.auth-div a {
    text-decoration: underline;
    color: inherit
}

.auth-div .forgot-link {
    margin: 0;
    margin-top: 17px;
    margin-bottom: 33px;
    padding: 0;
}


/* Dashboard */


/* Dashboard Navbar */

.fixed-top {
    height: 72px;
    z-index: 1040;
    background: #003663;
}

.histary-navbar {
    color: #fff;
    padding: 20px 100px;
    font-family: 'Sofia Pro, Bold';
}

.histary-navbar>div {
    width: 49%;
    display: inline-block
}

.histary-navbar_left>h3 {
    font-family: 'Montserrat, Bold' !important;
}

.histary-navbar_left>i {
    color: #A6B2C4;
}

.histary-navbar_left>i:hover {
    cursor: pointer;
}

.histary-navbar_right>h3 {
    font-family: 'Sofia Pro, Regular';
}

.histary-navbar_right>a {
    color: inherit;
    text-decoration: none;
}

.histary-navbar_right>img {
    border-radius: 50%;
    margin-left: 10px;
}

.histary-navbar_right>i {
    color: #A6B2C4;
    font-size: 14px;
    margin-left: 21px;
}

.histary-navbar_right>i:hover,
.histary-navbar_right>img:hover,
.histary-navbar_right>span:hover {
    cursor: pointer;
}

.histary-navbar_right>a:hover,
.histary-navbar_right>a:focus,
.histary-navbar_right>a:after {
    text-decoration: none;
    color: #FF4E00;
}

.dropdown-content {
    /* display: none; */
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: rgba(0, 0, 0, 0.16) 0 3px 10px;
    z-index: 1;
    right: 3%;
    /* top: 1%; */
    bottom: -150%;
    border-radius: 3.64px;
    padding: 17px 0;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 8px 23px;
    clear: both;
    font-weight: 400;
    color: #3E3E3E;
    text-align: left;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    font-size: 13px;
}


/* Dashboard Pages */

.center-cards {
    max-width: 720px;
    margin: auto;
}

.histary-page {
    margin-top: 100px;
    padding: 15px;
    padding-top: 0;
    margin-bottom: 0;
}

@media(max-width:492px) {
    .histary-navbar {
        padding: 20px;
    }
    .auth-div {
        color: #030303;
        min-width: auto;
        max-width: inherit;
        margin: auto;
        margin-top: 70px;
    }
}