/*!
 * Start Bootstrap - Simple Sidebar (https://startbootstrap.com/template-overviews/simple-sidebar)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-simple-sidebar/blob/master/LICENSE)
 */

#menu-toggle {
    margin-right: auto;
    color: #2E2E2E;
    cursor: pointer;
    margin-top: -30px;
    position: absolute;
    left: 30px;
    z-index: 2000;
}

#top-nav {
    position: fixed;
    z-index: 1070;
    top: 0px;
    top: 0px;
    width: 100%;
    padding-top: 23px;
    background: #15390E;
}

.top-nav-option {
    display: inline-block;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background: #F7F8F9;
    min-height: 100vh;
}

#wrapper.toggled {
    padding-left: 220px;
}

#sidebar-wrapper {
    top: 0px;
    position: fixed;
    left: 220px;
    width: 0;
    height: 100vh;
    margin-left: -220px;
    overflow-y: hidden;
    background: #FFFFFF;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    /* z-index: 3000; */
}

#wrapper.toggled #sidebar-wrapper {
    width: 220px;
}

#page-content-wrapper {
    width: 100%;
    padding: 26px 42px;
}

#wrapper.toggled #page-content-wrapper {
    margin-right: -220px;
    margin-left: -220px;
}


/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100vh
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
    margin: 35px 0;
}

.sidebar-nav li:nth-child(2) {
    text-indent: 20px;
    line-height: 40px;
    margin: 0;
    margin-bottom: 35px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #A6B2C4;
    ffont-family: 'Sofia Pro, Bold';
}

.sidebar-nav li a>i {
    margin-right: 23px;
    height: 11px;
}

.sidebar-nav li a>img {
    margin-right: 34px;
    margin-left: 20px;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #A6B2C4;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
    color: #002257;
}

.sidebar-nav li a.active {
    text-decoration: none;
    color: #002257;
}

.sidebar-nav li a img {
    margin-right: 30px;
    height: 14px;
    width: auto;
    margin-bottom: 5px;
}

.sidebar-nav>.profile {
    padding-bottom: 70px;
    padding-top: 30px;
    margin: 0;
}

#wrapper.toggled #sidebar-wrapper .sidebar-nav li a.active {
    width: 60px;
}

#wrapper #sidebar-wrapper .sidebar-nav li a.active>span {
    display: inline;
}

#wrapper.toggled #sidebar-wrapper .sidebar-nav li a.active>span {
    display: none;
}

#wrapper #sidebar-wrapper .sidebar-nav li a>span {
    display: inline;
}

#wrapper.toggled #sidebar-wrapper .sidebar-nav li a>span {
    display: none;
}

#wrapper #sidebar-wrapper .sidebar-nav li div>p {
    display: block;
}

#wrapper.toggled #sidebar-wrapper .sidebar-nav li div>p {
    display: none;
}

#wrapper #sidebar-wrapper .sidebar-nav li div>p.initials {
    display: none;
}

#wrapper.toggled #sidebar-wrapper .sidebar-nav li div>p.initials {
    display: block;
    margin-top: 50px;
}

#wrapper.toggled #sidebar-wrapper .sidebar-nav>.profile {
    padding-bottom: 25px;
}

.courses {
    position: relative;
    right: 0;
    top: 0;
    padding-top: 115px;
    background-color: #fff;
}

.resources {
    margin-bottom: 30px;
}

#top-nav>.tno1 {
    animation-name: moveright;
    animation-duration: .5s;
    width: 17%;
}

#top-nav>.tno3 {
    float: right;
    padding-right: 50px;
}

#top-nav.toggled>.tno1 {
    animation-name: moveleft;
    animation-duration: .5s;
    width: 5%;
}

#top-nav>.tno2>.intro {
    animation-name: dis;
    animation-duration: 3s;
    display: inline-block;
}

.initials {
    color: #000000;
    font-family: 'Poppins Semi-Bold';
    text-align: left
}

#sidebar-wrapper::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#sidebar-wrapper::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

#wrapper.toggled #sidebar-wrapper .sidebar-nav>.profile {
    padding-bottom: 0;
    padding-top: 70px;
}

@-webkit-keyframes dis {
    from {
        display: none;
    }
    to {
        display: inline-block;
    }
}

@keyframes dis {
    from {
        display: none;
    }
    to {
        display: inline-block;
    }
}

#top-nav>.tno4 {
    display: none;
}

@-webkit-keyframes moveleft {
    from {
        width: 17%
    }
    to {
        width: 3%
    }
}

@keyframes moveleft {
    from {
        width: 17%
    }
    to {
        width: 3%
    }
}

@-webkit-keyframes moveright {
    from {
        width: 3%
    }
    to {
        width: 17%
    }
}

@keyframes moveright {
    from {
        width: 3%
    }
    to {
        width: 17%
    }
}

@media(min-width:991px) {
    #wrapper {
        padding-left: 301px;
    }
    #wrapper.toggled {
        padding-left: 0;
    }
    #sidebar-wrapper {
        width: 301px;
        overflow-y: auto;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }
    #wrapper.toggled #sidebar-wrapper .sidebar-nav li a.active {
        width: 0;
    }
    #page-content-wrapper {
        padding: 0;
        position: relative;
        height: auto;
    }
    #page-content-wrapper>div {
        padding: 0;
    }
    #page-content-wrapper>div {
        padding: 0;
    }
    /* #page-content-wrapper>div>div {
        padding: 26px 30px;
        padding-left: 70px;
    } */
    #page-content-wrapper>div.subscriibed-div {
        padding: 0;
    }
    #page-content-wrapper>div.subscriibed-div>div.col-md-8 {
        padding: 26px 42px;
    }
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-left: 0;
        padding-top: 0;
    }
    .courses {
        background-color: #FFFFFF;
        padding: 22px 30px;
        position: absolute;
        right: 0;
        top: 0;
        padding-top: 115px;
        height: 100vh;
    }
}

@media(max-width:1441px) {
    #page-content-wrapper>div>div {
        padding: 0 32px;
    }
    #page-content-wrapper>div>div.top-row {
        padding: 26px 32px;
        padding-bottom: 0;
    }
}

@media(max-width:1280px) {
    #page-content-wrapper>div>div {
        padding: 26px 32px;
        margin-top: 0;
    }
    #top-nav>.tno1 {
        animation-name: moveright2;
        animation-duration: .5s;
        width: 22%;
    }
    #top-nav.toggled>.tno1 {
        animation-name: moveleft;
        animation-duration: .5s;
        width: 6%;
    }
    @-webkit-keyframes moveright2 {
        from {
            width: 6%
        }
        to {
            width: 22%
        }
    }
    @keyframes moveright2 {
        from {
            width: 6%
        }
        to {
            width: 22%
        }
    }
}

@media(max-width:1024px) {
    #top-nav>.tno1 {
        animation-name: moveright;
        animation-duration: .5s;
        width: 7%;
    }
    #top-nav>.tno3 {
        float: right;
        padding-right: 50px;
    }
    #top-nav.toggled>.tno1 {
        animation-name: moveleft;
        animation-duration: .5s;
        width: 7%;
    }
    @-webkit-keyframes moveleft {
        from {
            width: 7%;
        }
        to {
            width: 7%;
        }
    }
    @keyframes moveleft {
        from {
            width: 7%;
        }
        to {
            width: 7%;
        }
    }
    @-webkit-keyframes moveright {
        from {
            width: 7%;
        }
        to {
            width: 7%;
        }
    }
    @keyframes moveright {
        from {
            width: 7%;
        }
        to {
            width: 7%;
        }
    }
}

@media(max-width:991px) {
    #page-content-wrapper {
        padding: 26px 0px;
    }
    #menu-toggle {
        left: 15px;
    }
    #wrapper.toggled #sidebar-wrapper .sidebar-nav li a.active {
        width: auto;
    }
    #wrapper.toggled #sidebar-wrapper .sidebar-nav li a.active>span {
        display: none;
    }
    #wrapper.toggled #sidebar-wrapper .sidebar-nav li a>span {
        display: none;
    }
    #sidebar-wrapper {
        overflow-y: auto;
    }
    #top-nav>.tno1 {
        animation-name: moveright;
        animation-duration: .5s;
        width: 5%;
    }
    #top-nav>.tno3 {
        float: right;
        padding-right: 50px;
    }
    #top-nav.toggled>.tno1 {
        animation-name: moveleft;
        animation-duration: .5s;
        width: 5%;
    }
    @-webkit-keyframes moveleft {
        from {
            width: 5%;
        }
        to {
            width: 5%;
        }
    }
    @keyframes moveleft {
        from {
            width: 5%;
        }
        to {
            width: 5%;
        }
    }
    @-webkit-keyframes moveright {
        from {
            width: 5%;
        }
        to {
            width: 5%;
        }
    }
    @keyframes moveright {
        from {
            width: 5%;
        }
        to {
            width: 5%;
        }
    }
}

@media (max-width: 768px) {
    #wrapper.toggled #sidebar-wrapper .sidebar-nav li a.active {
        width: auto;
    }
    #wrapper.toggled #sidebar-wrapper .sidebar-nav li a.active>span {
        display: inline;
    }
    #wrapper.toggled #sidebar-wrapper .sidebar-nav li a>span {
        display: inline;
    }
    #page-content-wrapper>div>div.top-row {
        padding: 15px;
        padding-bottom: 0;
    }
    #page-content-wrapper>div>div {
        margin-top: 0;
        padding: 15px;
    }
    #page-content-wrapper {
        padding: 0;
    }
}

@media (max-width: 650px) {
    #top-nav>.tno1 {
        animation-name: moveright;
        animation-duration: .5s;
        width: 7%;
    }
    #menu-toggle {
        left: 10px;
    }
    #page-content-wrapper {
        background: transparent;
    }
}