/* Sofia Pro */

@font-face {
    font-family: 'Sofia Pro, Regular';
    src: url(../fonts/SofiaPro/Sofia_Pro_Regular_Az.otf);
}

@font-face {
    font-family: 'Sofia Pro, Medium';
    src: url(../fonts/SofiaPro/Sofia_Pro_Medium_Az.otf);
}

@font-face {
    font-family: 'Sofia Pro, Semi Bold';
    src: url(../fonts/SofiaPro/Sofia_Pro_Semi_Bold_Az.otf);
}

@font-face {
    font-family: 'Sofia Pro, Bold';
    src: url(../fonts/SofiaPro/Sofia_Pro_Bold_Az.otf);
}


/* Montserrat */

@font-face {
    font-family: 'Montserrat, Bold';
    src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
}

body {
    font-size: 14px;
    font-family: 'Sofia Pro, Regular';
}

h3 {
    font-family: 'Sofia Pro, Semi Bold';
    font-size: 26px;
}

body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}


/* backgrounds */

.bg-dark-blue {
    background: #003663;
}


/* buttons */

button,
.btn {
    border-radius: 3px;
    font-family: 'Sofia Pro, Medium';
    border: none;
}

.btn-dark-blue {
    background: #0062B4;
    font-size: 15px;
    padding: 14px 47px;
    color: #fff;
}

.btn-white-transparent {
    background: transparent;
    font-size: 15px;
    padding: 14px 52px;
    color: #fff;
    border: solid #fff 1px;
}

.btn-white-transparent:hover {
    background: transparent;
    color: #fff;
}

.btn-dark-blue:hover {
    background: #0062B4;
    color: #fff;
}

.btn-white {
    font-size: 15px;
    color: #646569;
    font-family: 'Sofia Pro, Medium';
    padding: 10px 34.4px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    box-shadow: rgba(63, 63, 68, 0.15) 0 1px 5px;
    background: #fff;
    border: none;
    min-width: 95px;
    max-height: 42px;
}

.btn-green {
    font-size: 15px;
    color: #fff;
    background: #49C177;
    font-family: 'Sofia Pro, Medium';
    padding: 10px 34.4px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border: none;
    min-width: 95px;
    max-height: 42px;
}

.btn-white:hover {
    color: #646569;
}

.btn-green:hover {
    color: #fff;
}


/* padding */

.p-0 {
    padding: 0 !important;
}

.pr-0 {
    padding-right: 0;
}

.pl-0 {
    padding-left: 0;
}

.plr-0 {
    padding-left: 0;
    padding-right: 0;
}

.plr-23 {
    padding-left: 23px !important;
    padding-right: 23px !important;
}

.p-15 {
    padding: 15px;
}

.pl-8 {
    padding-left: 8px !important;
}

.pr-8 {
    padding-right: 8px !important;
}

.pr-5 {
    padding-right: 5px !important;
}

.pl-6 {
    padding-left: 6px !important;
}


/* margins */

.m-0 {
    margin: 0;
}

.mt-56 {
    margin-top: 56px !important;
}

.mt-62 {
    margin-top: 62px !important;
}

.mt-64 {
    margin-top: 64px !important;
}

.mt-25 {
    margin-top: 25px !important;
}

.mb-24 {
    margin-bottom: 24px !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mb-8 {
    margin-bottom: 8px !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mt-10 {
    margin-top: 10px !important;
}

.mb-16 {
    margin-bottom: 16px !important;
}

.mt-42 {
    margin-top: 42px;
}

.mb-42 {
    margin-bottom: 42px;
}

.mb-16 {
    margin-bottom: 16px !important;
}

.mb-19 {
    margin-bottom: 19px !important;
}

.mlr-15 {
    margin-left: 15px;
    margin-right: 15px;
}


/* Alerts */

.alert-row {
    position: fixed;
    width: 100%;
    z-index: 3070;
    top: 75px;
    left: 0;
}

.alert-success,
.alert-danger,
.alert-info {
    display: none;
    margin: 28px 0;
    margin-bottom: 0;
    border-radius: 0;
}

.alert-x {
    position: absolute;
    width: 100%;
    z-index: 3070;
    top: 12.5%;
    color: #fff;
    cursor: pointer;
    right: -41%;
    display: none;
}