<template>
    <div class='container-fluid'>

        <!-- If it's an authentication page -->
        <template v-if="authPage">
            <div class="row m-0">
                <div class="col-md-6">
                    <router-view name="navbar-side"></router-view>
                </div>
                <div class="col-md-6">
                    <div class='row auth-row'>
                        <div class="col-md-12 auth-div">
                            <transition name="slide" mode="out-in">
                                <router-view>

                                </router-view>
                            </transition>
                        </div>
                    </div>
                </div>
            </div>
        </template>

        <!-- If it's not an authentication page -->
        <template v-else>
            <transition name="slide" mode="out-in">
                <router-view>

                </router-view>
            </transition>
        </template>

        <!-- set progressbar -->
        <vue-progress-bar></vue-progress-bar>
     </div>
</template>

<style>
    .slide-enter{
            opacity: 0;
    }
    .slide-enter-active{
        animation: slide-in .25s ease-out forwards;
        transition: opacity .25s;
    }
    .slide-leave{

    }
    .slide-leave-active{
        animation: slide-out .25s ease-out forwards;
         transition: opacity .25s;
          opacity: 0;
    }

     .fade-enter{
            opacity: 0;
    }
    .fadee-enter-active{
        /* animation: slide-in .5s ease-out forwards; */
        transition: opacity .25s;
    }
    .fade-leave{

    }
    .fade-leave-active{
        /* animation: slide-out .5s ease-out forwards; */
         transition: opacity .5s;
          opacity: 0;
    }

    @keyframes slide-in {
        from{
            transform: translateX(-20px);
        }
        to{
              transform: translateX(0);
        }
    }
      @keyframes slide-out {
        from{
            transform: translateX(0);
        }
        to{
              transform: translateX(20px);
        }
    }

.container-fluid{
        padding: 0;
}

</style>


<script>

import store from '.././store'
import Navbar from '../components/pagesWidgets/Navbar'

    export default {
        data: function () {
                return {
                whiteMenu:false,
                page:'home',
                dashboard:false,
                pagePath:'',
                spin:false,
                authPage:false
                }
            },
            components:{
                appNavbar: Navbar
            },
            computed:{

            },
            watch: {
                pagePath: function (val) {
                    if(val == '/login' || val == '/register'){
                       this.authPage = true
                    }else{
                        this.authPage = false
                    }
                }
            },
            methods: {
                checkScreen(){
                     if(screen.width > 768){
                       this.whiteMenu = !this.whiteMenu
                   }
                },
                start () {
                    this.$Progress.start()
                },
                set (num) {
                    this.$Progress.set(num)
                },
                increase (num) {
                    this.$Progress.increase(num)
                },
                decrease (num) {
                    this.$Progress.decrease(num)
                },
                finish () {
                    this.$Progress.finish()
                },
                fail () {
                    this.$Progress.fail()
                }
            },
            created(){
                 this.checkScreen()
                this.dashboard = false;
                document.title = this.$route.name + " | Histary - A secure marketplace to buy history tokens"
            },
            mounted() {
                // window.addEventListener('scroll', this.updateScroll);
            },
            destroy() {
                // window.removeEventListener('scroll', this.updateScroll)
            },
            beforeRouteEnter (to, from, next) {
                next(vm => {
                    // access to component instance via `vm`
                    vm.start()
                })
            },
            beforeRouteUpdate (to, from, next) {
                // just use `this`
                this.start
                next()
            },
            beforeRouteLeave (to, from, next) {
                vm.finish()
            }
    }
</script>

